.hero {
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    background-image: url("../assets/images/ballerina-arabeque-right.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    display: flex;
    align-items: center;

    color: white;
    
    padding-top: 90px;
    padding-bottom: 80px;
    box-sizing: border-box;
}


.hero-overlay {
    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            rgba(0,0,0,0.30),
            rgba(0,0,0,0.30)
        );

    z-index: 1;
}

.hero-container{

    position:relative;

    z-index:2;

    width:min(1400px,92%);
    /* max-width:1200px; */

    margin:auto;


    padding:0 40px;

    display:flex;

    justify-content:space-between;
    gap:60px;

    width:100%;

    box-sizing:border-box;

}


/* .achievement-label{

    font-family:"Playfair Display", serif;

    font-size:1.3rem;

    color:#ffffff;

    margin-top: 15px;
    margin-bottom:10px;

    font-weight:600;

} */

.achievements{
    background:#121212;
    padding:110px 0;
    overflow:hidden;
}

.container{
    /* width:min(1200px,90%); */
    width: 100%;
    /* margin:auto; */
}

.section-title{
    margin-top: 40px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:24px;
    margin-bottom:70px;
}

.section-title span{
    flex:1;
    max-width:220px;
    height:1px;
    background:var(--gold);
}

.section-title p{
    margin:0;
    color:var(--gold);
    letter-spacing:5px;
    font-size:.82rem;
    /* font-family:sans-serif; */
}

.achievement-grid{
    display:grid;
    grid-template-columns:repeat(5,1fr);
}

.achievement-card{
    text-align:center;
    padding:10px 30px;
    position:relative;
}

.achievement-card:not(:last-child)::after{
    content:"";
    position:absolute;
    right:0;
    top:15%;
    height:70%;
    width:1px;
    background:var(--gold);
}

.icon{
    font-size:2rem;
    color:var(--gold);
    margin-bottom:18px;
}

.achievement-card h2{
    color:var(--gold);
    font-size:2rem;
    margin-bottom:10px;
    /* font-family:"Cormorant Garamond",serif; */
    font-weight:500;
    letter-spacing: -1px;
}

.achievement-card p{
    color: white;
    font-size:0.8rem;
    line-height:1.8;
    letter-spacing:1px;
    text-transform:uppercase;
    opacity:.85;
    max-width:150px;
    margin:auto;
}



/* .achievement-card ul{

    list-style:none;

    padding:0;

    /* margin:0; 

}

.achievement-card li{

    position:relative;

    padding-left:28px;

    margin-bottom:10px;

    color:var(--gold);

    line-height:1.4;

}

.achievement-card li::before{

    content:"✦";

    position:absolute;

    left:0;

    color:#d8b08c;

    font-size:1rem;

} */

.hero-content {
    position: relative;

    z-index: 3;

    max-width: 700px;
    margin-left: 8%;

    max-width:600px;

    margin-left:0;
}


.hero-subtitle {
    /* font-size: 1rem;
    letter-spacing: 4px;
    text-transform: uppercase;

    margin-bottom: 20px;

    animation: fadeUp 1s ease; */

    font-size:.85rem;

    letter-spacing:6px;

    color:#d4b58f;

    margin-bottom:30px;
}


.hero h1 {

    font-size: clamp(3rem, 6vw, 4.8rem);

    line-height: 1.05;

    font-family: "Playfair Display", serif;

    margin-bottom: 25px;

    animation: fadeUp 1s ease .2s backwards;
}


.hero-description {

    /* font-size: 1.2rem;

    max-width: 500px;

    line-height: 1.7;

    margin-bottom: 40px;

    animation: fadeUp 1s ease .4s backwards; */

    font-size:1.2rem;
    max-width:520px;

    line-height:1.3;

    color:rgba(255,255,255,.85);


}


.hero-buttons {

    display: flex;
    gap: 20px;

    animation: fadeUp 1s ease .6s backwards;
}

/* .btn {

    background: #b98b8b;

    color: white;

    padding: 12px 28px;

    border-radius: 50px;

    text-decoration: none;

    transition: .3s ease;

} */

/* 
.btn.primary {

    background: white;

    color: #222;

}


.btn.primary:hover {

    background: #9d6f6f;

    transform: translateY(-3px);

}


.btn.secondary {

    border: 1px solid white;

    color: white;

    text-align: center;

}


.btn.secondary:hover {

    background:white;

    color:#222; 

}*/

.about-preview {

    /* padding: 120px 8%; */
    padding: 0;
/* 
    display: flex;

    align-items: center;

    gap: 80px;

    background: #fffaf7; */

    position: relative;

    display:grid;

    grid-template-columns:1fr 1fr;

    align-items:stretch;

}

.about-image {

    flex: 1;

}


.about-image img {

    width:100%;

    height:600px;

    object-fit:cover;

}

/* .about-image::after {

    content:"";

    position:absolute;

    width:100%;

    height:100%;

    border:2px solid #c9a27e;

    top:25px;

    left:25px;

    z-index:0;

} */


.about-image img {

    /* position:relative;

    z-index:1; */

    width:100%;

    height:100%;

    object-fit:cover;

}

.about-content {

    padding:90px;

}


.section-label {

    text-transform:uppercase;

    letter-spacing:4px;

    font-size:.85rem;

    color:#b38b6d;

    margin-bottom:20px;

}


.about-content h2 {

    font-family:"Playfair Display", serif;

    font-size:3rem;

    line-height:1.2;

    margin-bottom:25px;

}


.about-content p {

    font-size:1.2rem;

    line-height:1.8;

    /* color:#555; */

}

.text-link {

    display:inline-block;

    margin-top:30px;

    color:#222;

    text-decoration:none;

    font-weight:600;

    border-bottom:1px solid #222;

    padding-bottom:5px;

    transition:.3s;

}


.text-link:hover {

    letter-spacing:1px;

}

.classes-preview {

    background:#121212;

    color:white;

    padding:70px 0;

}

.section-header {

    text-align:center;

    max-width:700px;

    margin:0 auto 50px;

}


.section-header h2 {

    font-family:"Playfair Display", serif;

    font-size:3rem;

    line-height:1.2;

}

.class-cards {

    display:grid;

    grid-template-columns:repeat(3,1fr);

    gap:35px;

    max-width:1200px;

    margin:auto;
    

}

.class-card {

    /* background:#fffaf7;

    overflow:hidden;

    transition:.3s ease; */

    position:relative;

    overflow:hidden;

    border-radius:0;

}


.class-card img {

    width:100%;

    height:420px;

    object-fit:cover;

}

.class-card::after{
    content:"";

    position:absolute;

    inset:0;

    background:linear-gradient(

        transparent,

        rgba(0,0,0,0.9)

    );
}


.card-content {

    position:absolute;

    bottom:35px;

    left:30px;

    color:white;

    z-index:2;

}


.card-content h3 {

    font-family:"Playfair Display", serif;

    font-size:1.5rem;

    margin-bottom: 5px;

    color: white;

}

.classes-view-button {

    display:block;

    width:max-content;

    margin:60px auto 0;

    padding:15px 35px;

    /* background:#6d4c63;

    color:white; */

    text-decoration:none;

    transition:.3s ease;

}
.card-content p {

    line-height:1.3;

    color:var(--gold);

    margin-right: 10px;

}

.class-card:hover {

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,0.1);

}

.gallery-preview {

    padding:120px 0;

    background:#faf7f3;

}

.gallery-grid {

    max-width:1200px;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(3,1fr);

    grid-auto-rows:250px;

    gap:12px;
    

}

.gallery-item {

    overflow:hidden;

}


.gallery-item img {

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.5s ease;

}

.gallery-item.large {

    grid-column:span 2;

}

.gallery-item:hover img {

    transform:scale(1.05);

}

.gallery-button {

    display:block;

    width:max-content;

    margin:60px auto 0;

    padding:15px 35px;

    /* background:#6d4c63;

    color:white; */

    text-decoration:none;

    transition:.3s ease;

}


.gallery-button:hover {

    transform:translateY(-4px);

}

.contact-section {

    padding:120px 40px;

    background:#fffaf7;

}

.contact-container {

    max-width:1100px;

    margin:auto;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:70px;

}

.contact-info h3 {

    font-family:"Playfair Display", serif;

    font-size:2rem;

    color:black;

    margin-bottom: 10px;

}


.contact-info p {

    line-height:1.6;

    color:#555;

    font-size: 1.2rem;

}

.contact-details p{
     color:#555;
}


#formStatus{

    margin-top:20px;

    color:#c4a06d;

    font-weight:500;

}
.contact-info a{

    line-height:1.6;

     color:#555;

    font-size: 1.2rem;

}

.contact-details a:hover {
    color: #d8b08c;
}

.contact-details {

    margin-top:30px;

}


.contact-details p {

    margin-bottom:5px;

}

.contact-form {

    background:white;

    padding:40px;

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}

.contact-form input,
.contact-form textarea {


    width:100%;


    padding:15px;


    margin-bottom:20px;


    border:1px solid #ddd;


    font-family:inherit;


    font-size:1rem;

}

.contact-form textarea {

    height:150px;

    resize:none;

}

.contact-form button {


    width:100%;


    padding:16px;


    border:none;


    /* background:#6d4c63; */
    /* color: var(--gold); */


    color:white;


    font-size:1rem;


    cursor:pointer;


    transition:.3s ease;

}


.contact-form input::placeholder,
.contact-form textarea::placeholder{

    color:#9b9b9b;

}

.contact-form button:hover {

    /* background:#503548; */

}


.divider{

    display:flex;
    align-items:center;
    justify-content:center;

    width:220px;
    height: 1px;

    margin-top: 25px;
    background: var(--gold);


} 



/* .footer {

    background:#6d4c63;

    color:white;

    padding:80px 40px 30px;

}

.footer-container {

    max-width:1200px;

    margin:auto;

    display:grid;

    grid-template-columns:2fr 1fr 1fr;

    gap:60px;

}

.footer-brand h3 {

    font-family:"Playfair Display", serif;

    font-size:2rem;

    color:white;

    margin-bottom: 5px;

}


.footer-brand p {

    line-height:1.8;

    opacity:.85;

    max-width:350px;

}

.footer h4 {

    margin-bottom:8px;

    font-size:1.2rem;

}


.footer-links a {

    display:block;

    color:white;

    text-decoration:none;

    margin-bottom:12px;

    opacity:.85;

    transition:.3s;

}


.footer-links a:hover {

    opacity:1;

    transform:translateX(5px);

}

.footer-bottom {

    border-top:1px solid rgba(255,255,255,.2);

    margin-top:60px;

    padding-top:25px;

    text-align:center;

    opacity:.8;

}


.footer-socials a {
    padding: 0 4px;
    color: white;
    font-size: 1.2rem;
    transition: .3s ease;
}


.footer-socials a:hover {
    color: #d8b08c;
    transform: translateY(-3px);
} */

/* @media(max-width:1000px){

    .hero-container{

        flex-direction:column;

        text-align:center;

    }

    .achievement-card{

        width:100%;

        max-width:450px;

    }

    .gallery-grid{

        grid-template-columns:1fr;

        grid-auto-rows:300px;

    }


    .gallery-item.large{

        grid-column:span 1;

    }

    .contact-container {

        grid-template-columns:1fr;

    }


    .contact-section {

        padding:80px 25px;

    }

    .footer-container{

        grid-template-columns:1fr;

        text-align:center;

    }


    .footer-brand p{

        margin:auto;

    }
    .hero-container{

        gap:40px;

    }


    .achievement-card{

        width:320px;

    }

}

@media(max-width:900px){

    .hero-container{

        flex-direction:column;

        justify-content:center;

        text-align:center;

        gap:40px;

        padding:120px 25px 60px;

    }


    .achievement-card{

        width:100%;

        max-width:420px;

        padding:30px;

    }

} */

/* ==========================================
   RESPONSIVE DESIGN - TABLET + MOBILE
========================================== */


/* Tablets */
@media (max-width: 1000px) {


    /* ---------- NAVBAR ---------- */
/* 
    .navbar {

        padding: 15px 30px;

    }


    .nav-links {

        gap: 25px;

    }

 */

    /* ---------- HERO ---------- */


    .hero {

        min-height: auto;

        padding-top: 120px;

        padding-bottom: 80px;

    }


    /* .hero-container {


        justify-content: center;

        align-items: center;

        text-align: center;

        gap: 50px;

        padding: 0 40px;

    } */


    .hero-content {

        margin-left: 5%;

        max-width: 700px;

    }


    .hero-buttons {

        display: flex;

        flex-direction: column;

        align-items: center;

        gap: 5px;

        width: 100%;

    }


    .hero-buttons {

        justify-content: center;

    }







    /* ---------- ABOUT ---------- */


    .about-preview {

        grid-template-columns: 1fr;

        text-align: center;

    }


    .about-image {

        order: -1;

    }



    /* ---------- CLASSES ---------- */


    .classes-grid {

        grid-template-columns: repeat(2, 1fr);

    }



    /* ---------- GALLERY ---------- */


    .gallery-grid {

        grid-template-columns: repeat(2, 1fr);

    }



    /* ---------- CONTACT ---------- */


    .contact-container {

        grid-template-columns: 1fr;

        gap: 50px;

    }



    /* ---------- FOOTER ---------- */

/* 
    .footer-container {

        flex-direction: column;

        text-align: center;

        gap: 40px;

    }

    .footer-socials {

        justify-content: center;

    } */


}

.achievement-divider{
    display:flex;
    justify-content:center;
    margin-top:60px;
}

.achievement-divider span{
    width:180px;
    height:1px;
    background:var(--gold);
}




/* Phones */
@media (max-width: 750px) {


    /* ---------- GLOBAL ---------- */

    .hero {
        background-image: url("../assets/images/comforting-dark-ballet.png");
    }

    .hero-subtitle {
        color: white;
        margin: 10px 0;
    }

    .hero-overlay {
        position: absolute;
        inset: 0;

        background:
            linear-gradient(
                rgba(0,0,0,0.60),
                rgba(0,0,0,0.60)
            );

        z-index: 1;
    }


    section {

        padding-left: 25px;

        padding-right: 25px;

    }

    /* .achievement-label {
        margin-top: 5px;
    }

    .achievement-card li {
        color: white;
    } */

    .ac {
        margin-bottom: 10px;
    }




    /* ---------- NAVBAR ---------- */
/* 

    .navbar {

        padding: 15px 20px;

    }


    .logo {

        font-size: 1.2rem;

    }


    /* hamburger menu */
/*
    .nav-links {

        width: 100%;

        flex-direction: column;

        align-items: center;

    }
 */




    /* ---------- HERO ---------- */


    .hero {

        padding-top: 110px;

        padding-bottom: 100px;

        height: auto;


    }


    .hero-container {

        /* padding: 0 20px; */

        gap: 40px;

        flex-direction: column;

        justify-content: center;

    }


    .hero-subtitle {

        font-size: .8rem;

        letter-spacing: 3px;

    }


    .hero h1 {

        font-size: clamp(2.5rem, 12vw, 3.5rem);

    }


    .hero-description {

        font-size: 1rem;

    }

    .hero-buttons {

        flex-direction: column;

        width: 100%;

        justify-content: center;

    }


    .hero-buttons a {

        width: 100%;

        text-align: center;

        justify-content: center;

    }



    /* Achievement card */


    /* .achievement-card {

        width: 100%;

        /* padding: 25px; 

        border-radius: 20px;

        margin:40px auto 0;

    }


     .achievement-label {

        font-size: 1.2rem;

    }


    .achievement-card li {

        font-size: .95rem;

        margin-bottom: 15px;

    } */ 





    /* ---------- ABOUT ---------- */


    .about-container {

        gap: 30px;

    }


    .about-title {

        font-size: 2rem;

    }



    /* ---------- CLASSES ---------- */


    .class-cards {

        grid-template-columns: 1fr;

    }



    /* ---------- GALLERY ---------- */


    .gallery-grid {

        grid-template-columns: 1fr;

        grid-auto-rows: 280px;

    }


    .gallery-item.large {

        grid-column: span 1;

    }



    /* ---------- CONTACT ---------- */


    .contact-form {

        padding: 25px;

    }


    .contact-info h3 {

        font-size: 1.6rem;

    }



    /* ---------- FOOTER ---------- */


    /* .footer {

        padding: 60px 25px 25px;

    } */

}

/* ==========================================
   STACKING RESPONSIVE ADJUSTMENTS
========================================== */

@media (max-width:991px){

    .achievements{
        padding:90px 0;
    }

    .achievement-grid{
        grid-template-columns:repeat(2,1fr);
        gap:40px 0;
    }

    .achievement-card:nth-child(2)::after{
        display:none;
    }

    .achievement-card:nth-child(4)::after{
        display:none;
    }

    .achievement-card::after{
        height:60%;
    }

}

@media (max-width:600px){

    .achievements{
        padding:70px 0;
    }

    .section-title{
        margin-bottom:50px;
    }

    .section-title span{
        max-width:70px;
    }

    .section-title p{
        font-size:.72rem;
        letter-spacing:3px;
    }

    .achievement-grid{
        grid-template-columns:1fr;
        gap:40px;
    }

    .achievement-card{
        padding:0;
    }

    .achievement-card::after{
        display:none;
    }

    .achievement-card h2{
        font-size:2.2rem;
    }

    .achievement-card p{
        max-width:none;
    }

}

/* Hero: Achievement card stacks */
@media (max-width: 900px) {
    .hero {
        min-height: 105vh;
    }
    .hero-container {

        align-items: center;

        text-align: center;

        gap: 50px;

    }


    /* .achievement-card {

        width: min(90%, 420px);

    } */

}



/* About section: Image stacks */
@media (max-width: 850px) {


    .about-preview {

        display: flex;

        flex-direction: column;

        align-items: center;

    }


    .about-image {

        width: 100%;

        order: -1;

    }


    .about-content {

        text-align: center;

    }

}



/* Classes: Cards stack */
@media (max-width: 750px) {


    .classes-grid {

        grid-template-columns: 1fr;

    }


    .class-card {

        width: 100%;

    }

    .about-content h2 {
        font-size: 2.7rem;
    }

    .about-content p{
        font-size: 1rem;
    }


}
/* @keyframes fadeUp {

    from {

        opacity:0;

        transform:translateY(30px);

    }


    to {

        opacity:1;

        transform:translateY(0);

    }

} */