

.story-hero {

    height: 100vh;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    background-image:url("../assets/images/red-white-dresses-swing.JPG");
    background-repeat: no-repeat;

    background-size:cover;

    background-position:center;

    position:relative;

    display:flex;

    align-items:center;

    justify-content:center;

    color:white;

    padding-top: 90px;
    padding-bottom: 80px;
    box-sizing: border-box;

}


.story-overlay {

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.35);
    

}


.story-hero-content {

    position:relative;

    z-index:2;

    text-align:center;

}

.white-header {
    color: white;
}


.story-hero h1 {

    font-family:"Playfair Display", serif;

    font-size:clamp(3rem,6vw,4.8rem);

    margin-bottom:15px;

}


.story-hero p {

    font-size:1.2rem;

    letter-spacing:1px;

    margin: 0 15px;

}

/* ================================
   STORY INTRO
================================ */


.story-intro {

    padding:100px 40px;

}


.story-container {

    max-width:1200px;

    margin:auto;

    display:flex;

    align-items:center;

    gap:70px;

}


.story-image {

    flex:1;

}


.story-image img {

    width:100%;

    border-radius:20px;

}


.story-text {

    flex:1;

}


.story-text h2 {

    font-family:"Playfair Display", serif;

    color:black;

    font-size:2.5rem;

    margin-bottom:25px;

}


.story-text p {

    line-height:1.8;

    color:#555;

}


@media(max-width:800px){

    .story-container{

        flex-direction:column;

    }


    .story-intro{

        padding:70px 25px;

    }

}